@font-face {
  font-family: 'JetBrains-regular';
  src: local('JetBrains-regular'), url(./assets/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: 'JetBrains-bold';
  src: local('JetBrains-bold'), url(./assets/fonts/JetBrainsMono-Bold.ttf);
}

:root {
  --color1: #283739;
	--color2: #2c5d63; 
	--color3: #a2c11c;
  --color4: #e0e0e0;
}

#header, #footer {
  background-color: var(--color1) !important;
}

body {
  font-family: 'JetBrains-regular' !important;
}

header, footer {
  padding-top: 15px;
  padding-left: 15px;
  height: 45px;
  color: white;
}

#logo {
  height: 30px;
  margin-right: 10px;
}

main {
  min-height: 400px;
}

#main {
  position: fixed;
  max-height: calc(100% - 120px);
  overflow: auto;
  width: 100%;
}

#home-logo {
  max-width: 500px;
  width: 80%;
  margin: auto;
  display: block;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}